<div class="root__container">
  <app-header></app-header>
  <!-- Main Content -->

  <main class="main__container">
    <div class="main-container__bg" [ngClass]="{'main-container__bg-dark': darkModeActive}"></div>
    <app-weather-card></app-weather-card>
    <app-weather-card></app-weather-card>
    <app-weather-card></app-weather-card>
    <app-weather-card></app-weather-card>
    <app-add-card></app-add-card>
  </main>

  <!-- Footer -->

  <footer class="main__footer" [ngClass]="{'main-container__bg-dark': darkModeActive}">
    <small class="copyright__text">Copyright © 2018 Minimus</small>
  </footer>
</div>
